.top-title {
    justify-content: center;
    display: flex;
    align-items: center;

}

.title {
    text-decoration-style: double;
    text-decoration: underline;
}

.top-header h1 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace ;
}

.ofthe {
    margin: 0.25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-style : italic;
}

.tagline {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : rgb(225, 106, 106);
}
  

.taglineContainer {
    margin : 0.25rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.fishCard {
    outline: black;
    outline-style: solid;
    background-color: whitesmoke;
    
}

.fishTitle {
    color: rgb(114, 185, 185);
    text-shadow: black;
    font-size: medium;
    text-decoration: underline;
}

.fish-price {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: right;
    text-decoration: underline;

}

.fish-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    text-align: left;

}

.fish-input-and-button {
    justify-content: center;
    display: flex;
    align-items: center;
}

.order-container {
    justify-content: center;
    display: flex;
    align-items: center;
    outline: black;
    outline-style: dashed;
    background-color: rgb(187, 213, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.items-container {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    outline: black;
    outline-style: dotted;
}